Repository kim-yeo-appweb-lab/trend-korea-app: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  priority: 1
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  priority: 2
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

feat: 커뮤니티 글쓰기 태그 선택 UI 구현
  src/app/api/tags/route.ts
  src/features/community/model/hooks.ts
  src/features/community/model/index.ts
  src/features/community/model/queries.ts
  src/features/community/ui/PostWriteForm.tsx
  src/features/community/ui/TagSelect.tsx
  src/features/community/ui/index.ts
Due: format, lint

fix: CommentItem authorNickname null 방어 처리
  src/features/community/model/types.ts
  src/features/community/ui/CommentItem.tsx
Due: format, lint

refactor: middleware.ts를 proxy.ts로 마이그레이션
  src/proxy.ts
Due: format, lint

chore: .gitignore 정리 및 .omc/ 추가
  .gitignore
Due: none

chore: 개발 서버 포트 3100으로 변경
  package.json
Due: format

refactor: agent_docs를 .claude/rules로 이전, shadcn/ui 적용
  .claude/rules/architecture.md
  .claude/rules/conventions.md
  .claude/rules/ui-guidelines.md
  CLAUDE.md
Due: format

chore: 프로젝트 설정 업데이트
  .claude/rules/conventions.md
  .claude/rules/git.md
  .gitignore
Due: format

docs: 불필요한 문서 정리
  docs/API_SPEC.md
  docs/BRANCH_STRATEGY.md
Due: format

docs: 어드민 분리 반영 — PRD/ROADMAP 수정
  docs/PRD.md
  docs/ROADMAP.md
Due: format

chore: 프로젝트 설정 파일 업데이트
  .claude/settings.json
  .gitignore
  .mcp.json
  .nvmrc
  package.json
Due: format

refactor: rules 파일 통합 (13개 → 7개)
  .claude/rules/code-conventions.md
  .claude/rules/conventions.md
  .claude/rules/project-context.md
  .claude/rules/testing.md
  .claude/rules/ui-guidelines.md
  .claude/rules/ui.md
  .claude/rules/workflow.md
Due: format

docs: CLAUDE.md 중복 제거 및 슬림화
  CLAUDE.md
Due: format

refactor: 에이전트 재구성 및 메모리 보일러플레이트 제거
  .claude/agents/architecture/cto-architect.md
  .claude/agents/cto.md
  .claude/agents/development/frontend-lead.md
  .claude/agents/development/tdd-quality-engineer.md
  .claude/agents/development/ui-ux-reviewer.md
  .claude/agents/devops-lead.md
  .claude/agents/documentation/tech-writer.md
  .claude/agents/fe-lead.md
  .claude/agents/planning/prd-roadmap-generator.md
  .claude/agents/planning/prd-technical-validator.md
  .claude/agents/planning/prd-writer.md
  .claude/agents/tech-writer.md
  .claude/agents/test-lead.md
  .claude/agents/ux-lead.md
Due: format

refactor: 커맨드 재구성 및 잘못된 참조 수정
  .claude/commands/dev/feature.md
  .claude/commands/dev/implement.md
  .claude/commands/dev/review.md
  .claude/commands/docs/update-prd.md
  .claude/commands/docs/update-roadmap.md
  .claude/commands/docs/validate-prd.md
  .claude/commands/git/commit.md
  .claude/commands/git/create-pr.md
  .claude/commands/self-review.md
  .claude/skills/writing-prd/SKILL.md
  .claude/skills/writing-prd/prd-template.md
Due: format

chore: 프로젝트 설정 파일 현대화
  .claude/settings.json
  package.json
  pnpm-workspace.yaml
  tsconfig.json
Due: format

refactor: Mock 데이터 named 상수화 및 안전한 인덱스 접근
  src/app/(main)/issues/[id]/page.tsx
  src/features/auth/model/schemas.test.ts
  src/features/community/model/schemas.test.ts
  src/features/issues/ui/IssueList.tsx
  src/features/timeline/ui/TimelineList.tsx
Due: format, lint

docs: non-null assertion 사용 금지 규칙 추가
  .claude/rules/code-conventions.md
Due: format

chore: .env.example 추가
  .env.example
Due: none

Path conditions:
  format: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts,json,yaml,yml,html,css,md}
  lint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
