Repository kim-yeo-appweb-lab/trend-korea-app: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    format:
      priority: 1
      glob: "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,json,yaml,yml,html,css,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      priority: 2
      glob: "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

prepare-commit-msg:
  commands:
    template:
      run: node scripts/commit-msg.mjs {1}

pre-push:
  parallel: true
  commands:
    type-check:
      run: pnpm type:check
    lint:
      run: pnpm lint
    format-check:
      run: pnpm format:check

docs: PRD 및 CLAUDE.md 추가
  CLAUDE.md
  docs/PRD.md
Due: format

docs: README.md 및 package.json 설명 업데이트
  README.md
  package.json
Due: format

fix: 설정 파일 일관성 수정
  .prettierignore
  eslint.config.mjs
  package.json
  scripts/commit-template.txt
  src/app/layout.tsx
  tsconfig.json
Due: format, lint

chore: GitHub Actions CI 및 PR 템플릿 설정
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
Due: format

docs: CLAUDE.md 및 README.md 최신화
  CLAUDE.md
  README.md
Due: format

chore: Storybook 설치 및 스크립트 추가
  package.json
  pnpm-lock.yaml
Due: format

fix: ThemeToggle hydration mismatch 에러 해결
  src/shared/components/ThemeToggle.tsx
Due: format, lint

chore: .gitignore에 개발 도구 및 설계 자산 추가
  .gitignore
Due: none

fix: 리스트 컴포넌트 카드 간격 문제 수정
  src/features/community/components/PostList.tsx
  src/features/issues/components/IssueList.tsx
  src/features/tracking/components/TrackingList.tsx
Due: format, lint

feat: 이슈 상세 페이지 레이아웃 개선
  src/app/(main)/issues/[id]/page.tsx
Due: format, lint

feat: Select 컴포넌트 화살표 위치 개선
  src/shared/components/Select.tsx
Due: format, lint

feat: 다크모드, 테마 전환 애니메이션, 스크롤바 디자인 개선
  src/app/globals.css
  src/app/layout.tsx
  src/shared/lib/ThemeContext.tsx
Due: format, lint

feat: Auth 네비게이션 및 Header 로그인 버튼 개선
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/widgets/Header.tsx
Due: format, lint

chore: 프로젝트 설정 및 개발 도구 구성
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
  vitest.shims.d.ts
Due: format, lint

feat: 공유 UI 컴포넌트 시스템 구축
  src/foundations/Colors.mdx
  src/foundations/Overview.mdx
  src/foundations/Radius.mdx
  src/foundations/Shadows.mdx
  src/foundations/Spacing.mdx
  src/foundations/Typography.mdx
  src/shared/components/Avatar.tsx
  src/shared/components/Badge.mdx
  src/shared/components/Badge.stories.tsx
  src/shared/components/Badge.tsx
  src/shared/components/Breadcrumb.tsx
  src/shared/components/Button.mdx
  src/shared/components/Button.stories.tsx
  src/shared/components/Button.tsx
  src/shared/components/Card.mdx
  src/shared/components/Card.stories.tsx
  src/shared/components/Card.tsx
  src/shared/components/EmptyState.tsx
  src/shared/components/Filter.mdx
  src/shared/components/Filter.stories.tsx
  src/shared/components/Filter.tsx
  src/shared/components/Input.mdx
  src/shared/components/Input.stories.tsx
  src/shared/components/Input.tsx
  src/shared/components/Modal.tsx
  src/shared/components/Pagination.tsx
  src/shared/components/SectionHeader.mdx
  src/shared/components/SectionHeader.stories.tsx
  src/shared/components/SectionHeader.tsx
  src/shared/components/Skeleton.tsx
  src/shared/components/SourceLink.tsx
  src/shared/components/Tab.mdx
  src/shared/components/Tab.stories.tsx
  src/shared/components/Tab.tsx
  src/shared/components/TagInput.tsx
  src/shared/components/Textarea.tsx
  src/shared/components/index.ts
Due: format, lint

feat: 공유 유틸리티 및 타입 시스템 구축
  src/shared/hooks/index.ts
  src/shared/hooks/useTheme.ts
  src/shared/lib/index.ts
  src/shared/types/domain.ts
  src/shared/types/filter.ts
  src/shared/types/index.ts
  src/shared/types/status.ts
  src/shared/utils/cn.ts
  src/shared/utils/index.ts
  src/shared/utils/slot.tsx
  src/shared/utils/theme.ts
Due: format, lint

feat: App Router 구조 및 레이아웃 구현
  src/app/(auth)/layout.tsx
  src/app/(main)/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
Due: format, lint

feat: 홈 페이지 구현
  src/app/(main)/page.tsx
  src/features/home/components/BreakingNewsItem.tsx
  src/features/home/components/BreakingNewsSection.tsx
  src/features/home/components/CategoryTabs.tsx
  src/features/home/components/CommunityMediaCard.tsx
  src/features/home/components/CommunityMediaSection.tsx
  src/features/home/components/FeaturedNewsCard.tsx
  src/features/home/components/FeaturedNewsSection.tsx
  src/features/home/components/HotPostItem.tsx
  src/features/home/components/HotPostsSection.tsx
  src/features/home/components/SearchRankingItem.tsx
  src/features/home/components/SearchRankingSection.tsx
  src/features/home/components/TrendCard.tsx
  src/features/home/components/TrendSection.tsx
  src/features/home/components/index.ts
  src/features/home/types/home.ts
  src/features/home/types/index.ts
  src/widgets/Footer.tsx
  src/widgets/index.ts
Due: format, lint

feat: 타임라인 페이지 구현
  src/app/(main)/timeline/[date]/page.tsx
  src/app/(main)/timeline/page.tsx
  src/features/timeline/components/TimelineDateHeader.tsx
  src/features/timeline/components/TimelineDatePicker.tsx
  src/features/timeline/components/TimelineEventCard.tsx
  src/features/timeline/components/TimelineEventDetail.tsx
  src/features/timeline/components/TimelineFilter.tsx
  src/features/timeline/components/TimelineList.tsx
  src/features/timeline/components/TimelineSortSelect.tsx
  src/features/timeline/components/index.ts
  src/features/timeline/hooks/index.ts
  src/features/timeline/hooks/useTimelineFilter.ts
  src/features/timeline/types/index.ts
  src/features/timeline/types/timeline.ts
Due: format, lint

feat: 이슈 추적 페이지 구현
  src/app/(main)/issues/page.tsx
  src/features/issues/components/IssueCard.tsx
  src/features/issues/components/IssueDetailOverview.tsx
  src/features/issues/components/IssueDetailRelated.tsx
  src/features/issues/components/IssueDetailTimeline.tsx
  src/features/issues/components/IssueFilter.tsx
  src/features/issues/components/IssueSortSelect.tsx
  src/features/issues/components/IssueTrackButton.tsx
  src/features/issues/components/IssueTriggerItem.tsx
  src/features/issues/components/index.ts
  src/features/issues/types/index.ts
  src/features/issues/types/issues.ts
Due: format, lint

feat: 커뮤니티 페이지 구현
  src/app/(main)/community/[id]/page.tsx
  src/app/(main)/community/page.tsx
  src/app/(main)/community/write/page.tsx
  src/features/community/components/CommentForm.tsx
  src/features/community/components/CommentItem.tsx
  src/features/community/components/CommentTree.tsx
  src/features/community/components/PostActions.tsx
  src/features/community/components/PostCard.tsx
  src/features/community/components/PostDetail.tsx
  src/features/community/components/PostWriteForm.tsx
  src/features/community/components/index.ts
  src/features/community/types/community.ts
  src/features/community/types/index.ts
Due: format, lint

feat: 검색 페이지 구현
  src/app/(main)/search/page.tsx
  src/features/search/components/RecentSearchList.tsx
  src/features/search/components/SearchBar.tsx
  src/features/search/components/SearchFilter.tsx
  src/features/search/components/SearchResultCard.tsx
  src/features/search/components/SearchResultList.tsx
  src/features/search/components/SearchResultTabs.tsx
  src/features/search/components/index.ts
  src/features/search/types/index.ts
  src/features/search/types/search.ts
Due: format, lint

feat: 추적 페이지 구현
  src/app/(main)/tracking/page.tsx
  src/features/tracking/components/TrackingIssueCard.tsx
  src/features/tracking/components/TrackingSavedEventCard.tsx
  src/features/tracking/components/index.ts
  src/features/tracking/types/index.ts
  src/features/tracking/types/tracking.ts
Due: format, lint

feat: 마이페이지 구현
  src/app/(main)/mypage/edit/page.tsx
  src/app/(main)/mypage/page.tsx
  src/features/mypage/components/AccountActions.tsx
  src/features/mypage/components/AccountSection.tsx
  src/features/mypage/components/ProfileEditForm.tsx
  src/features/mypage/components/ProfileSection.tsx
  src/features/mypage/components/ServiceInfoSection.tsx
  src/features/mypage/components/SocialLinkItem.tsx
  src/features/mypage/components/index.ts
  src/features/mypage/types/index.ts
  src/features/mypage/types/mypage.ts
Due: format, lint

feat: 인증 기능 구현
  src/features/auth/components/AuthDivider.tsx
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/components/SocialLoginButtons.tsx
  src/features/auth/components/index.ts
  src/features/auth/types/auth.ts
  src/features/auth/types/index.ts
Due: format, lint

refactor: 날짜/숫자 포맷 유틸리티 추출 및 적용
  src/features/home/components/CommunityMediaCard.tsx
  src/features/issues/components/IssueTriggerItem.tsx
  src/features/timeline/components/TimelineEventCard.tsx
  src/shared/components/Modal.tsx
  src/shared/utils/date.ts
  src/shared/utils/index.ts
Due: format, lint

feat: 로고 컴포넌트 구현 및 적용
  public/logo/symbol.png
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/shared/components/Logo.tsx
  src/shared/components/index.ts
  src/widgets/Header.tsx
Due: format, lint

refactor: 정적 자산 구조 정리 및 CSS 파일 분리
  public/file.svg
  public/globe.svg
  public/icons/apple-icon.png
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  public/icons/icon.png
  public/manifest.json
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/layout.tsx
  src/styles/base.css
  src/styles/globals.css
  src/styles/theme.css
  src/styles/tokens.css
Due: format, lint

refactor: Badge API를 colorScheme 기반으로 단순화
  src/app/(main)/issues/[id]/page.tsx
  src/features/community/components/PostCard.tsx
  src/features/community/components/PostDetail.tsx
  src/features/home/components/BreakingNewsItem.tsx
  src/features/home/components/HotPostItem.tsx
  src/features/home/components/TrendCard.tsx
  src/features/issues/components/IssueCard.tsx
  src/features/issues/components/IssueDetailOverview.tsx
  src/features/issues/components/IssueTriggerItem.tsx
  src/features/search/components/SearchResultCard.tsx
  src/features/timeline/components/TimelineEventCard.tsx
  src/features/timeline/components/TimelineEventDetail.tsx
  src/features/tracking/components/TrackingIssueCard.tsx
  src/features/tracking/components/TrackingSavedEventCard.tsx
  src/shared/components/Badge.tsx
  src/shared/components/TagInput.tsx
  src/shared/utils/badgeMapping.ts
  src/shared/utils/index.ts
Due: format, lint

chore: Storybook 설정과 테마 전환 개선
  .gitignore
  .storybook/main.ts
  .storybook/preview.tsx
Due: format, lint

docs: 공통 컴포넌트 스토리북 스토리 확장
  src/shared/components/Avatar.stories.tsx
  src/shared/components/Badge.stories.tsx
  src/shared/components/Breadcrumb.stories.tsx
  src/shared/components/EmptyState.stories.tsx
  src/shared/components/Modal.stories.tsx
  src/shared/components/Pagination.stories.tsx
  src/shared/components/SectionHeader.stories.tsx
  src/shared/components/Select.stories.tsx
  src/shared/components/Skeleton.stories.tsx
  src/shared/components/TagInput.stories.tsx
  src/shared/components/Textarea.stories.tsx
  src/shared/components/ThemeToggle.stories.tsx
Due: format, lint

chore: 저장소 메타데이터 URL 정정
  package.json
Due: format

docs: 백엔드 API 규격 문서 추가
  docs/API_SPEC.md
Due: format

fix: 스토리북 스토리 타입 오류 수정
  src/shared/components/Avatar.stories.tsx
  src/shared/components/Modal.stories.tsx
Due: format, lint

docs: change pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: format

docs: Git 브랜칭 전략 문서 추가
  CLAUDE.md
  README.md
  docs/BRANCH_STRATEGY.md
Due: format

chore: PR 템플릿 개선 및 kim-yeo-ui 패키지 추가
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  pnpm-lock.yaml
Due: format

style: kim-yeo-ui 스타일 통합 및 프로젝트 전용 토큰 분리
  src/styles/custom.css
  src/styles/globals.css
Due: format

refactor: kim-yeo-ui 컴포넌트로 import 전환
  src/shared/components/TagInput.tsx
  src/shared/components/ThemeToggle.tsx
  src/shared/components/index.ts
  src/shared/utils/index.ts
Due: format, lint
